{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
<meta name="description" content="description"/>
<meta name="keywords" content="keywords"/> 
<meta name="author" content="author"/> 
<link rel="stylesheet" type="text/css" href="/site_media/default.css" media="screen"/>
<title>Web Graph</title>
</head>

<body>

<div class="container">

	<div class="header">Web Graph</div>

	<div class="main_right">

		<div class="padded">
			
			<h1>What is this?</h1>
			<p>An easy-to-use tool for mapping out relationships between any types of objects you can image. The current working views are HTML with Graphviz generated images. Future views include CSV, 3-d animations, and more.</p>

			<h1>What is it built on?</h1>
			<p>A select group of entirely open source components supported by various groups such as Google, Nasa, Microsoft, Sun, and the Hitss contract. Specifically, Python, Django, Graphviz, and Pydot.</p>
			
			<h1>How do I make changes?</h1>
			<p>You'll need to <a href="/admin">login</a> and play around.</p>

		</div>

	</div>

	<div class="subnav">

        {% include 'list_nodes.html' %}

	</div>
		
	<div class="main">

		<div class="padded">

            {% block main %}
                <h1>Random Data Image</h1>
                <p>
                    <img src="/random_image.gif" alt="random image" border="1" />
                <p>
                <p><a href="">Click to see another</a></p>
                <h1>Color Options (many more to come)</h1>
                <p>
                    {% for color in colors %}
                        {{ color }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </p>
                <h1>Shape Options</h1>
                <p>
                    {% for shape in shapes %}
                        {{ shape }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </p>
                
            {% endblock %} 
				
		</div>

	</div>
	
	<div class="clearer"><span></span></div>

	<div class="footer">
		
		<span class="left">&copy; 2009 <a href="http://code.google.com/p/django-simplegraph/">Django SimpleGraph</a>. Valid <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> &amp; <a href="http://validator.w3.org/check?uri=referer">XHTML</a></span>
		
		<span class="right">
		    Application Design by 
		    <a href="http://pydanny.blogspot.com">Daniel Greenfeld</a>,
		    
		    Template design by <a href="http://templates.arcsin.se">Arcsin</a></span>
		
		<div class="clearer"><span></span></div>

	</div>

</div>

</body>

</html>